{% extends 'layout/base.html'%}
{% load main_tags %}
{% load static %}

{% block title %}
    Трекер сна
{% endblock %}

{% block extra_head_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/sleeping.css' %}">
{% endblock %}

{% block content %}

        <div class="wrapper">
           <div></div>
           <div class="dayOfWeek">Понедельник</div>
           <div class="dayOfWeek">Вторник</div>
           <div class="dayOfWeek">Среда</div>
           <div class="dayOfWeek">Четверг</div>
           <div class="dayOfWeek">Пятница</div>
           <div class="dayOfWeek">Суббота</div>
           <div class="dayOfWeek">Воскресенье</div>
           <div></div>
        </div>

            <div class="wrapper">
                {% for day_of_week, values in sleeping.items %}
                    <div class="col">
                        {% for val in values %}
                            <div class="day">
                                {% if val.date %}
                                    {{ val.date|date:'d' }}
                                    {% if val.duration == 1 %} <img src="{% static 'main/img/1.png' %}">
                                    {% elif val.duration == 2 %} <img src="{% static 'main/img/2.png' %}">
                                    {% elif val.duration == 3 %} <img src="{% static 'main/img/3.png' %}">
                                    {% elif val.duration == 4 %} <img src="{% static 'main/img/4.png' %}">
                                    {% elif val.duration == 5 %} <img src="{% static 'main/img/5.png' %}">
                                    {% elif val.duration == 6 %} <img src="{% static 'main/img/6.png' %}">
                                    {% elif val.duration == 7 %} <img src="{% static 'main/img/7.png' %}">
                                    {% elif val.duration == 8 %} <img src="{% static 'main/img/8.png' %}">
                                    {% elif val.duration == 9 %} <img src="{% static 'main/img/9.png' %}">
                                    {% else %} val.duration {% endif %}
                                {% else %}
                                    {{ val }}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>


{% endblock %}