{% extends 'layout/base.html'%}
{% load static %}

{% block title %}
    Трекер сна
{% endblock %}

{% block extra_head_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/sleeping.css' %}">
{% endblock %}

{% block content %}

    <!-- Модальный -->
    <div id="myModal" class="modal">

      <!-- Модальное содержание -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>Некоторый текст в модальном..</p>
      </div>

    </div>

    <div class="colourful-section">
        <div class="container" id="first-section">
            <div class="row">
                <p>Декабрь 2023</p>
            </div>
        </div>

       <div class="wrapper">
           <div></div>
           <div class="dayOfWeek">Понедельник</div>
           <div class="dayOfWeek">Вторник</div>
           <div class="dayOfWeek">Среда</div>
           <div class="dayOfWeek">Четверг</div>
           <div class="dayOfWeek">Пятница</div>
           <div class="dayOfWeek">Суббота</div>
           <div class="dayOfWeek">Воскресенье</div>
           <div></div>

           <div></div>
           <div class="paper-first-col not-active previous-month">28</div>
           <div class="paper-first-col not-active previous-month">29</div>
           <div class="paper-first-col not-active previous-month">30</div>
           <div class="paper-first-col not-active previous-month">31</div>
           <div class="paper-first-col" id="myBtn">
               <img src="{% static 'main/img/4.png' %}">
           </div>
           <div class="paper-first-col"><img src="{% static 'main/img/6.png' %}"></div>
           <div class="paper-first-col"><img src="{% static 'main/img/6.png' %}"></div>
           <div></div>

           <div></div>
           <div class="paper-first-col"><img src="{% static 'main/img/3.png' %}"></div>
           <div class="paper-first-col"><img src="{% static 'main/img/6.png' %}"></div>
           <div class="paper-first-col not-active">6</div>
           <div class="paper-first-col"><img src="{% static 'main/img/7.png' %}"></div>
           <div class="paper-first-col"><img src="{% static 'main/img/8.png' %}"></div>
           <div class="paper-first-col"><img src="{% static 'main/img/1.png' %}"></div>
           <div class="paper-first-col"><img src="{% static 'main/img/2.png' %}"></div>
           <div></div>

           <div></div>
           <div class="paper-first-col"><img src="{% static 'main/img/9.png' %}"></div>
           <div class="paper-first-col"><img src="{% static 'main/img/0.png' %}"></div>
           <div class="paper-first-col"><img src="{% static 'main/img/3.png' %}"></div>
           <div class="paper-first-col"><img src="{% static 'main/img/4.png' %}"></div>
           <div class="paper-first-col"><img src="{% static 'main/img/5.png' %}"></div>
           <div class="paper-first-col"><img src="{% static 'main/img/8.png' %}"></div>
           <div class="paper-first-col"><img src="{% static 'main/img/4.png' %}"></div>
           <div></div>

           <div></div>
           <div class="paper-first-col"><img src="{% static 'main/img/8.png' %}"></div>
           <div class="paper-first-col"><img src="{% static 'main/img/9.png' %}"></div>
           <div class="paper-first-col"><img src="{% static 'main/img/7.png' %}"></div>
           <div class="paper-first-col"><img src="{% static 'main/img/1.png' %}"></div>
           <div class="paper-first-col"><img src="{% static 'main/img/6.png' %}"></div>
           <div class="paper-first-col"><img src="{% static 'main/img/5.png' %}"></div>
           <div class="paper-first-col not-active">24</div>
           <div></div>

           <div></div>
           <div class="paper-first-col not-active">25</div>
           <div class="paper-first-col not-active">26</div>
           <div class="paper-first-col not-active">27</div>
           <div class="paper-first-col not-active">28</div>
           <div class="paper-first-col not-active">29</div>
           <div class="paper-first-col not-active">30</div>
           <div class="paper-first-col not-active">31</div>
           <div></div>
       </div>
    </div>


     <script src="{% static 'main/js/mood.js' %}"></script>

{% endblock %}