{% extends 'layout/base.html'%}
{% load main_tags %}
{% load static %}

{% block title %}
    Трекер сна
{% endblock %}

{% block extra_head_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/sleeping.css' %}">
{% endblock %}

{% block content %}

        <div class="container" style="margin-top: 30px;">
            <p>Месяц: Декабрь</p>
        </div>

        <div class="wrapper">
           <div></div>
           <div class="dayOfWeek">Понедельник</div>
           <div class="dayOfWeek">Вторник</div>
           <div class="dayOfWeek">Среда</div>
           <div class="dayOfWeek">Четверг</div>
           <div class="dayOfWeek">Пятница</div>
           <div class="dayOfWeek">Суббота</div>
           <div class="dayOfWeek">Воскресенье</div>
           <div></div>
        </div>

            <div class="wrapper">
                <div></div>
                {% for day_of_week, values in sleeping.items %}
                    <div class="col paper-first-col">
                        {% for val in values %}
                            <div class="day">
                                {% if val.date %}
                                    {% if val.duration == 1 %} <img src="{% static 'main/img/1.png' %}">
                                    {% elif val.duration == 2 %} <img src="{% static 'main/img/2.png' %}">
                                    {% elif val.duration == 3 %} <img src="{% static 'main/img/3.png' %}">
                                    {% elif val.duration == 4 %} <img src="{% static 'main/img/4.png' %}">
                                    {% elif val.duration == 5 %} <img src="{% static 'main/img/5.png' %}">
                                    {% elif val.duration == 6 %} <img src="{% static 'main/img/6.png' %}">
                                    {% elif val.duration == 7 %} <img src="{% static 'main/img/7.png' %}">
                                    {% elif val.duration == 8 %} <img src="{% static 'main/img/8.png' %}">
                                    {% elif val.duration == 9 %} <img src="{% static 'main/img/9.png' %}">
                                    {% else %} val.duration {% endif %}
                                {% else %}
                                    {% if val == '-' %}
                                        <div class="paper-first-col not-active" style="border: none; color: white;">{{ val }}</div>
                                    {% else %}
                                        <div class="paper-first-col not-active" style="border: none; padding-top: 0px;">{{ val }}</div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <div></div>
            </div>

            <br><br><br>

            <div class="container">
                <p>Статистика</p>
                <p style="font-size: 20px;">Средняя продолжительность сна: {{ average_slumber }}</p>
                <p style="font-size: 20px;">Среднее качество сна: {{ average_quality }}</p>

                <p>Рекомендации:</p>

            </div>



{% endblock %}