{% extends 'layout/base.html'%}
{% load static %}

{% block title %}
    Вход
{% endblock %}

{% block extra_head_links %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/mainpage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/tests.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/signup.css' %}">
{% endblock %}


{% block content %}
{% if form.errors %}
    <mark>При попытке зарегистрироваться произошла ошибка.</mark>
{% endif %}
<ul class='error-list' style='color: red; text-decoration: none; list-style-type: none;'>
  <li>{{form.errors.experience_years}}</li>
  <li>{% for error in form.errors%}
      {{ error.help_text }}
    {% endfor %}
  </li>
</ul>
<div class='container' style='font-size: 18px; font-family: "Avenir reg";'>
      <div class='main sing-up'>
          <div class='row' style='width: 70%; font-size: 18px; font-family: "Avenir reg";'>
              <div class="col-lg-4"></div>
              <div class="col-lg-8">
              <form action="{% url 'accounts:register_user' %}" method="POST" style='width: 100%; font-size: 18px; font-family: "Avenir reg";'>
                {% csrf_token %}
<!--                {{ form.as_p }}-->
                   <div class='welcome-container'>
                      <br><br>
                      <h4 style="font-family: Avenir;">Регистрация</h4>
                    <p class='welcome-message'>Добро пожаловать!</p>
                  </div>
                  <div style="padding-bottom: 20px;">
                        <input type="text" class="form-control" aria-describedby="emailHelp" name="username" placeholder='Логин'>
                  </div>
                  <div style="padding-bottom: 20px;">
                        <input type="text" class="form-control" name="password1" placeholder='Пароль'>
                  </div>
                  <div style="padding-bottom: 20px;">
                        <input type="password" class="form-control" name="password2" placeholder='Подтвердите пароль'>
                  </div>

                <input type="submit" value="Зарегистрироваться" class='purple-button'>
                <br><br>
              </form>
          </div>
              </div>
          </div>
</div>

{% endblock %}