{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Main{% endblock %}</title>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">

        {% block extra_head_links %}

        {% endblock %}
    </head>
    <body>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="49" height="35" viewBox="0 0 49 35" fill="none">
                <rect y="15" width="20" height="20" rx="10" fill="#9C69E2"/>
                <rect x="29" width="20" height="35" rx="10" fill="#F063B8"/>
            </svg>
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                <a class="nav-link" href="{% url 'main:home' %}">Главная</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'main:articles' %}">Статьи</a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Тесты</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Трекеры
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'main:sleeping' %}">Трекер сна</a>
                    <a class="dropdown-item" href="{% url 'main:activity' %}">Трекер физической нагрузки</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'main:moods' %}">Трекер эмоций</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Дневник благодарности</a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Войти <span class="sr-only">(current)</span></a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Профиль <span class="sr-only">(current)</span></a>
              </li>

            </ul>
              <a href="{% url 'main:moods' %}">
                  <button id="button-with-icon" >Создать трекер
                      <svg class="svg-container" href="{% url 'main:moods' %}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="16" viewBox="0 0 22 16" fill="none"  >
                              <path d="M15 15L21 8L15 1" stroke="#9C69E2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M21 8H1" stroke="#9C69E2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                      </svg>
                  </button>
              </a>
          </div>
        </nav>


    {% block content %}


    {% endblock %}


    </body>
</html>