{% extends 'layout/base.html'%}
{% load static %}

{% block title %}
    Главная
{% endblock %}

{% block extra_head_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/mainpage.css' %}">
{% endblock %}

{% block content %}

    <div class="container" id="first-container">
        <div class="row">
            <div class="col-sm-6" id="save-text">
                <div class="row">Эмоциональный контроль на расстоянии</div>

                <div class="row" id="first-container-small-text">
                    Откройте в себе новый мир эмоциональной гармонии. Исследуйте, понимайте,
                    управляйте своими чувствами с нашим приложением. Ваш путь к эмоциональному
                    благополучию начинается здесь.
                </div>
                <div class="row">
                    <button class="purple-button">Начать</button>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="{% static 'main/img/image1.png' %}" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>

    <div class="container" id="second-section">
      <div class="row" id="pink-section">
        <div class="col-sm">
          <img src="{% static 'main/img/image2.png' %}" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-sm">
          <div class="row" id="text-second-section-bold">Мы - ваш гид в мире рефлексии и самопознания</div>
          <div class="row" id="text-second-section-light">
              Наше приложение создано, чтобы помочь вам раскрыть потенциал эмоциональной глубины.
              Вместе мы исследуем ваши чувства, осмыслим опыт и создадим пространство для внутреннего роста.
              Добро пожаловать в увлекательное путешествие к самому себе - с нами ваша рефлексия станет вдохновляющим опытом.
          </div>
        </div>
      </div>
    </div>

    <div class="container" id="third-container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-7">
                <div class="row" id="bold-text">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-7">Возможности</div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row" id="thin-text">Возможности, предоставляемые тем, кто использует систему управления эмоциями</div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>

    <div class="container" id="fourth-section">
        <div class="row">
            <div class="col-lg-5" id="green-block">
                <div class="row">
                    <div class="col">
                        <div class="row"><img src="{% static 'main/img/image3.png' %}" class="img-fluid" alt="Responsive image"></div>
                    </div>
                    <div class="col">
                        <div class="row upper-text">Психологические тесты</div>
                        <div class="row center-text">Позволят лучше понять себя и обеспечат персонализированный подход на вашем пути к эмоциональному равновесию.</div>
                        <div class="row bottom-text">
                            <div class="col">Подробнее <a href="{% url 'main:tests' %}" style="color: #03A658;">→</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-5" id="purple-block">
                <div class="row">
                    <div class="col">
                        <div class="row"><img src="{% static 'main/img/image4.png' %}" class="img-fluid" alt="Responsive image"></div>
                    </div>
                    <div class="col">
                        <div class="row upper-text">Трекер эмоций</div>
                        <div class="row center-text">Отследит колебания вашего настроения. Позволяет визуалировать ваше состояние. Определяйте тенденции, влияющие на вашу эмоциональную жизнь.</div>
                        <div class="row bottom-text">
                            <div class="col">Подробнее <a href="{% url 'main:moods' %}" style="color: #EE4AFF;">→</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="second">
            <div class="col-lg-5" id="pink-block">
                <div class="row">
                    <div class="col">
                        <div class="row"><img src="{% static 'main/img/image5.png' %}" class="img-fluid" alt="Responsive image"></div>
                    </div>
                    <div class="col">
                        <div class="row upper-text">Дневник благодарности</div>
                        <div class="row center-text">Записывайте ежедневно те вещи, за которые вы благодарны и мыслите позитивно.</div>
                        <div class="row bottom-text">
                            <div class="col">Подробнее <a href="{% url 'main:diary' %}" style="color: #FF48AC;">→</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-5">
                <div class="row" id="blue-block">
                    <div class="col">
                        <div class="row"><img src="{% static 'main/img/image6.png' %}" class="img-fluid" alt="Responsive image"></div>
                    </div>
                    <div class="col">
                        <diпсv class="row upper-text">Статьи</diпсv>
                        <div class="row center-text">Наши статьи предоставляют полезные советы, глубокие исследования и практические методики для улучшения вашей эмоциональной жизни.</div>
                        <div class="row bottom-text">
                            <div class="col">Подробнее <a href="{% url 'main:articles' %}" style="color: #3FCACA;">→</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="fifth-section">
        <div class="row upper-text-fifth">
            Отзывы
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8" id="white-block">
                <div class="row">
                    <div class="col-sm-5">
                        <img src="{% static 'main/img/image7.png' %}" class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="col-sm-7">
                        <div class="row name">John Fang</div>
                        <div class="row reference">wordfaang.com</div>
                        <div class="row text">
                            Приложение — мой гид к эмоциональной гармонии. Благодарность, трекер эмоций, статьи, тесты — весь путь к лучшей версии себя на одной платформе!</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>

    <hr>
    <div class="container" id="sixth-block">
        <div class="row">
            <div class="col">
                <div class="row upper-text-sixth">Попробуй бесплатно!</div>
                <div class="row small-text-sixth">Недельный пробный период</div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col"><button class="purple-button pink" data-toggle="modal" data-target="#myModal">Изучить больше</button></div>
                    <div class="col"><button class="purple-button white">Создать треккер</button></div>
                </div>
            </div>

        </div>
    </div>
    <hr>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Mus magna mattis tempor enim nisl viverra praesent! Euismod dapibus blandit torquent; ad feugiat venenatis. Taciti torquent iaculis fermentum mus class laoreet; lectus est. Blandit consequat luctus ad mattis fermentum nisl. Accumsan tempus ex ipsum vestibulum bibendum netus venenatis. Velit non rutrum taciti per quis urna. Senectus potenti dis viverra sodales turpis efficitur congue lectus condimentum.
        Magna quisque aenean eleifend cras scelerisque nibh mollis. Dictum sed phasellus vulputate morbi dolor varius aenean molestie. Accumsan nulla mus tellus enim vivamus eget. Eros orci penatibus phasellus nisl ut et. Mi dui habitant ligula hac, dis feugiat elementum vitae phasellus. Ultrices nunc turpis maecenas vehicula dui auctor tristique nulla tristique. Tempus vel et eu turpis fames odio. Senectus ligula euismod nec eu magnis eget sollicitudin ornare.</p>
        </div>
      </div>

    </div>
  </div>



    <div class="container" style="margin-top: 40px;">
        <div class="row">
            <div class="col-sm-4"><img src="{% static 'main/img/Logo.png' %}" class="img-fluid" alt="Responsive image"><span class="date-warehouse">Управление эмоциями</span>
                <div class="row sixth-main-text">Минск, 234<br>
                    Минск проспект Независимости 64
                </div>
                <div class="row sixth-hide-text">
                    info@warehouse.project<br>
                    1-232-3434
                </div>
            </div>

            <div class="col-sm-2">
                <span class="date-warehouse">О нас</span>
                <div class="row sixth-main-text" style="margin-left:10px;">Профиль</div>
                <div class="row sixth-main-text" style="margin-left:10px;">Возможности</div>
                <div class="row sixth-main-text" style="margin-left:10px;">Карьера</div>
                <div class="row sixth-main-text" style="margin-left:10px;">Новости</div>
            </div>
            <div class="col-sm-2">
                <span class="date-warehouse">Поддержка</span>
                <div class="row sixth-main-text" style="margin-left:10px;">Поддержка</div>
                <div class="row sixth-main-text" style="margin-left:10px;">Авторизация</div>
                <div class="row sixth-main-text" style="margin-left:10px;">Гайд</div>
                <div class="row sixth-main-text" style="margin-left:10px;">Отчеты</div>
                <div class="row sixth-main-text" style="margin-left:10px;">Q&A</div>
            </div>
            <div class="col-sm-3">
                <span class="date-warehouse">Социальные сети</span>
                <img src="{% static 'main/img/SM.png' %}" class="img-fluid" alt="Responsive image" style="margin-top: 20px;">
            </div>
        </div>
    </div>

    <div class="container" id="seventh-block">
        <div class="row hide-end">
            © Datawarehouse™, 2020. All rights reserved.<br>
            Company Registration Number: 21479524.
        </div>
    </div>



{% endblock %}