
body {
    color: black;
}

@font-face {
    font-family: 'Avenir';
    src: url("../fonts/AvenirNextCyr-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir eng';
    src: url("../fonts/Avenir-Black.ttf") format("truetype");
    font-weight: 800;
    font-style: bold;
}

@font-face {
    font-family: 'Avenir eng light';
    src: url("../fonts/Avenir-Book.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

.nav-item .nav-link {
    font-family: Avenir;
    font-size: 16px;
}


svg {
    margin: 20px;
    margin-left: 100px;
}

#button-with-icon{
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 60px;
  letter-spacing: 1px;
  cursor: pointer;
  background: white;
  border: none;
  border-radius: 80px;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);

  color: var(--2, #212353);
  font-family: 'Avenir eng';
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.08px;

  transition: box-shadow 0.8s;
}

#button-with-icon:hover{
    box-shadow: 0px 5px 5px #9C69E2;

}

#button-with-icon:focus{
    outline: none;
}

.svg-container {
    margin-left: 10%;
    margin-right: 0px;
    width: 30px;
    height: 14px;
    flex-shrink: 0;
}


nav {
    position: absolute;
}
