

.form-control {
    height: 55px;
}

#validationCustom04 {
    height: 55px;
}

#validationCustom05 {
    height: 55px;
}

#first-block {
    margin-top: 75px;
}

#main-text {
    width: 100%;
    text-align: center;
    color: var(--2, #212353);
    font-size: 46px;
    font-family: Helvetica;
    font-weight: 700;
    line-height: 59.80px;
    word-wrap: break-word;

    margin-top: 80px;
}

#second-block {
    margin-top: 60px;
}



.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: white;
    background: var(--3, #9C69E2);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: var(--3, #9C69E2);
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


#tests-section{
    margin-top: 100px;
}

#tests-section .row .test{
    background-color: white;

    box-shadow: 5px 2px 5px 2px #a0a0a0;
    border-radius: 10px;

    height: 100px;

}


#tests-section .row .test:hover{
    animation-duration: 10s;
    animation-name: change-color;
}

@keyframes change-color {
  0% {
    box-shadow: 5px 5px 5px 2px black;
  }
  50% {
    box-shadow: 5px 2px 5px 2px black;
    margin-top: -10px;
  }
}


.test-img {
    height: 80%;
    margin-top: 10px;
}


p{
    color: var(--1, #4B5D68);
    font-family: 'Avenir middle';
    font-size: 22px;
    font-weight: 800;
    line-height: 160%; /* 28.8px */

    margin-top: 20px;
}


.space-between-rows {
    margin-top: 60px;
}